
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İlan Detay </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/css/tema.css">

</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<style>
    
        .carousel-inner {
            display: flex;
        }
        .carousel-item {
            flex: 0 0 auto;
            width: 100%;
        }
        .carousel-item .d-flex {
            overflow-x: auto;
            display: flex;
        }
        .carousel-item .card {
            margin-right: 15px;
            flex: 0 0 auto;
            width: 18rem;
        }
        .carousel-control-prev, .carousel-control-next {
            width: 5%;
        }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo.png" alt="logo" class="navbar-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <form class="d-flex ms-auto me-auto ara" style="max-width: 400px;">
                    <input class="form-control me-2 " type="search" placeholder="Ara" aria-label="Search">
                    <button class="btn btn-outline-success " type="submit"><i class="bi bi-search"></i> Ara</button>
                </form>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="info.html">Bilgilendirme</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html">Hesap Aç</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4 mb-3">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <img src="https://i0.shbdn.com/photos/44/56/45/x5_1087445645ugn.jpg"
                            class="img-fluid product-image" alt="Ürün Görseli">
                        <div class="product-description mt-5">

                            <h5>Açıklama</h5>
                            <p>Bu ürün, son teknoloji ile üretilmiş yüksek kaliteli bir elektronik üründür. Şimdi satın
                                alarak
                                avantajlı fiyatlarımızdan yararlanın!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="product-title">İsdemir Anoim Şirketi</h1>
                        <h4 class="text-primary">Fiyat: 50.000 TL</h4>
                        <div class="product-details">
                            <p><strong>Yük Tipi:</strong> Rulo Sac</p>
                            <p><strong>Marka:</strong> Demir</p>

                            <p><strong>Dorse Tipi:</strong> Sal Kasa</p>
                            <p><strong>Tonaj :</strong> 25 TON</p>
                            <p><strong>Minumum Sürücü Puani :</strong> 80 ve Üzeri</p>

                            <p><strong>Nereden:</strong> Hatay</p>
                            <p><strong>Nereye :</strong> Konya</p>
                            <p><strong>Gereksinim :</strong> Havuz Kapağı - Çadırlı</p>


                            <p><strong>Yük Teslim Alma Saati :</strong> 8:30-12:00 (Pazar Günleri Haric)</p>
                            <p><strong>İstenen Teslimat Zamanı:</strong> 2 Gün </p>
                            <p><strong>Teslimat Süresi :</strong> 8 Saat</p>

                            <p><strong>Firma:</strong> ABC Ltd. Şti.</p>
                            <p><strong>Telefon:</strong> +212 725 12 12 </p>
                            <p><strong>Adress:</strong> Sanayi X Fabrikası / Konya </p>

                        </div>

                        <div class="row p-4">

                            <button class="btn btn-buy mt-3"
                                style="background-color: var(--turuncu); color:white">Başvur</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <h5 class="text-center text-muted">Benzer Lokasyondan Yükler</h5>
            <div id="recommended-products-carousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex">
                            <div class="card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1z89v8x9W3e74Om7NALvAJaZyVJqUR4mrPA&s"
                                    class="card-img-top" alt="Önerilen Ürün 1">
                                <div class="card-body">
                                    <h5 class="card-title">Yücel Boru</h5>
                                    <p><strong>Varış : </strong> İzmir 35.000TL</p>
                                    <a href="#" class="btn btn-outline-primary">Yükü İncele</a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1z89v8x9W3e74Om7NALvAJaZyVJqUR4mrPA&s"
                                    class="card-img-top" alt="Önerilen Ürün 1">
                                <div class="card-body">
                                    <h5 class="card-title">Yücel Boru</h5>
                                    <p><strong>Varış : </strong> İzmir 35.000TL</p>
                                    <a href="#" class="btn btn-outline-primary">Yükü İncele</a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1z89v8x9W3e74Om7NALvAJaZyVJqUR4mrPA&s"
                                    class="card-img-top" alt="Önerilen Ürün 1">
                                <div class="card-body">
                                    <h5 class="card-title">Yücel Boru</h5>
                                    <p><strong>Varış : </strong> İzmir 35.000TL</p>
                                    <a href="#" class="btn btn-outline-primary">Yükü İncele</a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1z89v8x9W3e74Om7NALvAJaZyVJqUR4mrPA&s"
                                    class="card-img-top" alt="Önerilen Ürün 1">
                                <div class="card-body">
                                    <h5 class="card-title">Yücel Boru</h5>
                                    <p><strong>Varış : </strong> İzmir 35.000TL</p>
                                    <a href="#" class="btn btn-outline-primary">Yükü İncele</a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1z89v8x9W3e74Om7NALvAJaZyVJqUR4mrPA&s"
                                    class="card-img-top" alt="Önerilen Ürün 1">
                                <div class="card-body">
                                    <h5 class="card-title">Yücel Boru</h5>
                                    <p><strong>Varış : </strong> İzmir 35.000TL</p>
                                    <a href="#" class="btn btn-outline-primary">Yükü İncele</a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1z89v8x9W3e74Om7NALvAJaZyVJqUR4mrPA&s"
                                    class="card-img-top" alt="Önerilen Ürün 1">
                                <div class="card-body">
                                    <h5 class="card-title">Yücel Boru</h5>
                                    <p><strong>Varış : </strong> İzmir 35.000TL</p>
                                    <a href="#" class="btn btn-outline-primary">Yükü İncele</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Diğer carousel-item'lar buraya eklenir -->
                </div>
               
            </div>
        </div>
    <!-- Footer -->
    <footer class="bg-light py-4 mt-4">
        <div class="container text-center">
            <p class="mb-0">&copy; 2024 E-Ticaret Şirketi. Tüm hakları saklıdır.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</html>